# Ignore hidden files
.*

# Ignore temporary files
*~

# Annoying Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Generated Content
/node_modules
/public/*
/vendor

# Exceptions
!.gitignore
!.gitkeep
